:root {
    --main: #26403d;
}

body {
    font-size: 115%;
    line-height: 1.4;
    font-family: 'Proza Libre', sans-serif;
    background-color: white;
}

/** Start of Utilities */
input[disabled] {
    background: rgba(128, 128, 128, 0.15) !important;
}
.pointer {
    cursor: pointer;
}
/** End of Utilities */


.drp-buttons .applyBtn {
    color: var(--main) !important;
    border: 1px solid var(--main);
    border-radius: 3px !important;

    &:hover {
        color: white !important;
    }
}
.active.start-date {
    background: var(--main) !important;
}

.power-grid-button {
    color: #787878 !important;
    background-color: #2125290f !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #787878 !important;
}

.single-student-card {
    display: none;
    .close-btn {
        cursor: pointer;
    }
    .student-country-flag {
        height: 25px;
        width: 60px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
    }
    .detail {
        margin-bottom: 10px;
        label, span {
            font-size: 18px;
        }
    }
}

label.error {
    color: red;
    font-size: 15px;
    margin-top: 9px;
}

